<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to(task.title, task_path(task)) %>
      <%= link_to delete_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
       <i class="fa-solid fa-trash"></i>
      <%end%>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new task", new_task_path %>
